<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Credits</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/HeaderNavbar :: header-navbar"></div>
<br/>
<div class="container">
  <div class="d-flex justify-content-center">
    <h2>Credits</h2></div>
  <br/>
  <br/>
  <div class="d-flex justify-content-center">
    <h5>
      <span class="ms-3">-- Bloome icon created by</span><a href="https://github.com/BloomeBlueFolf?tab=repositories" title="Bloome" class="text-info ms-1">Bloome_BlueFolf</a><span class="ms-1">--</span>
        <br/>
        <br/>
      <span class="ms-3">-- Folder icon created by</span><a href="https://www.flaticon.com/free-icons/folder" title="folder icons" class="text-info ms-1">Freepik - Flaticon</a><span class="ms-1">--</span>
        <br/>
        <br/>
      <span class="ms-3">-- Login icon created by</span><a href="https://www.flaticon.com/free-icons/login" title="login icons" class="text-info ms-1">Freepik - Flaticon</a><span class="ms-1">--</span>
        <br/>
        <br/>
      <span class="ms-3">-- Logout icon created by</span><a href="https://www.flaticon.com/de/kostenlose-icons/ausloggen" title="ausloggen icons" class="text-info ms-1">mavadee - Flaticon</a><span class="ms-1">--</span>
        <br/>
        <br/>
      <span class="ms-3">-- Back Button icon created by</span><a href="https://www.flaticon.com/free-icons/back-button" title="back button icons" class="text-info ms-1">icon_small - Flaticon</a><span class="ms-1">--</span>
        <br/>
        <br/>
      <span class="ms-3">-- Warning icon created by</span><a href="https://www.flaticon.com/free-icons/warning" title="warning icons" class="text-info ms-1">Good Ware - Flaticon</a><span class="ms-1">--</span>
        <br/>
        <br/>
      <span class="ms-3">-- Download icon created by</span><a href="https://www.flaticon.com/de/kostenlose-icons/herunterladen" title="download icons" class="text-info ms-1">Pixel Buddha - Flaticon</a><span class="ms-1">--</span>
        <br/>
        <br/>
      <span class="ms-3">-- Refresh icon created by</span><a href="https://www.flaticon.com/free-icons/refresh" title="refresh icons" class="text-info ms-1">Freepik - Flaticon</a><span class="ms-1">--</span>
    </h5>
    </div>
</div>
<div th:insert="fragments/ReturnToIndex :: index-return"></div>
<br/>
<div th:insert="fragments/ReturnToIndex :: dev-credits"></div>
</body>
</html>