<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Photo Upload</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand"> <img src="/images/sticker.webp" width="50" height="50" alt="An image of Bloome">
            <span class="navbar-brand mb-0 h1 fs-3 align-middle">Bloome Fursuit Photographies</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/event/add"><p class="text-light bg-primary m-2 p-2">Create new event</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/photo/upload"><p class="text-light bg-primary m-2 p-2">Upload new photo</p></a>
                    </li>
                </ul>
            </div>
        </nav>
        <br/>
        <div class="container">
            <div class="row">
                <h1>List of events</h1>
            </div>
            <br/>
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Label</th>
                    <th scope="col">Number of photos</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "event : ${events}">
                    <th scope="row" th:text = "${event.label}"></th>
                    <td th:text = "${event.photos.size}"></td>
                    <td>
                        <a th:href="@{/photo/upload/{id} (id=${event.id})}" class="btn btn-primary">Upload photo</a>
                        <a th:href="@{/event/rename(id=${event.id})}" class="btn btn-primary ms-2">Rename event</a>
                        <a th:href="@{/event/delete(id=${event.id})}" class="btn btn-danger ms-5">Delete event</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>