<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Events</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div th:insert="fragments/HeaderNavbar :: header-navbar"></div>
        <div class="container">
            <div th:if = "${param.eventcreated}">
                <div class="alert alert-info">Event succesfully created!</div>
            </div>
            <div th:if = "${param.eventdeleted}">
                <div class="alert alert-danger">Event deleted!</div>
            </div>
            <div th:if = "${param.eventrenamed}">
                <div class="alert alert-info">Event renamed!</div>
            </div>
            <div class="row">
                <h1>Events</h1>
            </div>
            <br/>
            <table class="table table-striped w-75 p-3">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Label</th>
                    <th scope="col">Number of photos</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "event : ${events}">
                    <th scope="row"><img src="/images/Folder.png" width="25" height="25" alt="folder"><span th:text = "${event.label}" class="ms-2"></span></th>
                    <td> <div th:if = "${event.photos.size} == '0'">---</div>
                         <div th:unless = "${event.photos.size} == '0'" th:text = "${event.photos.size}"></div></td>
                    <td>
                        <a th:href="@{/user/event/showPhotos(id=${event.id})}" class="btn btn-primary">Show photos</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/photo/upload(id=${event.id})}" class="btn btn-primary ms-2">Upload photo</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/event/rename(id=${event.id})}" class="btn btn-primary ms-2">Rename event</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/event/delete/warning(id=${event.id})}" class="btn btn-danger ms-5">Delete event</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <hr class="w-75 ">
            <a th:href="@{/user}"><img src="/images/Refresh.png" alt="refresh button" width="35px" height="35px" class="ms-5"></a>
        </div>
    </body>
</html>