<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8">
    <title>Photo Upload</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div th:insert="fragments/HeaderNavbar :: header-navbar"></div>
    <div class="container">
      <div th:if = "${param.photouploaded}">
        <div class="alert alert-info w-25">Photo succesfully uploaded!</div>
      </div>
      <div th:if = "${param.photodeleted}">
        <div class="alert alert-danger w-25">Photo deleted!</div>
      </div>
      <div th:if = "${param.photomoved}">
        <div class="alert alert-info w-25">Photo moved!</div>
      </div>
      <div th:if = "${param.photoedited}">
        <div class="alert alert-info w-25">Photo succesfully edited!</div>
      </div>
      <div class="row">
        <div class=class="col-xs-6">
          <h1><span th:text="${event.label}"></span></h1>
          <br/>
          <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/photo/upload(id=${event.id})}" class="btn btn-primary">Add photo</a>
        </div>
      </div>
      <br/>
      <table class="table table-striped w-100 p-3">
        <thead class="table-dark">
        <tr>
          <th scope="col">Label</th>
          <th scope="col">Image</th>
          <th scope="col">Photographer</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "photo : ${photos}">
          <th scope="row" th:text = "${photo.label}"></th>
          <td> <img th:src="@{/user/photo/image(id=${photo.id})}" width="140px" height="140px" alt="fursuit photo" class="img-thumbnail"></td>
          <td>
            <div th:if = "${photo.photographer} == ''">---</div>
            <div th:unless = "${photo.photographer} == ''" th:text = "${photo.photographer}"></div>
          </td>
          <td>
            <div th:if = "${photo.date} == ''">---</div>
            <div th:unless = "${photo.date} == ''" th:text = "${photo.date}"></div></td>
          <td>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/event/editPhoto(photoId=${photo.id}, eventId=${event.id})}" class="btn btn-primary">Edit photo</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/photo/move(photoId=${photo.id}, eventId=${event.id})}" class="btn btn-primary ms-2">Move photo</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/event/deletePhoto/warning(photoId=${photo.id}, eventId=${event.id})}" class="btn btn-danger ms-5">Delete photo</a>
          </td>
          <td> <a th:href="@{/user/photo/download(photoId=${photo.id})}">
          <img src="/images/Download.png" width="25px" height="25px" alt="download button" class="ms-5"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:insert="fragments/ReturnToIndex :: index-return"></div>
    <br/>
    <br/>
    <div th:insert="fragments/ReturnToIndex :: dev-credits"></div>
  </body>
</html>