<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Upload photo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <form th:action = "@{/photo/upload/{id} id=${event.id}}" th:object="${photo}" method = "POST">
            <div class="form-group">
                <label for="labelPhoto">Label</label>
                <input type="text" class="form-control" id="labelPhoto" th:field = "*{label}" placeholder="Enter label">
            </div>
            <div class="form-group">
                <label for="photographer">Label</label>
                <input type="text" class="form-control" id="photographer" th:field = "*{photographer}" placeholder="Enter photographer">
            </div>
            <div class="form-group">
                <label for="date">Label</label>
                <input type="text" class="form-control" id="date" th:field = "*{date}" placeholder="Enter date">
            </div>
            <div class="form-group">
                <label for="uploadFile">Upload photo</label>
                <input type="file" class="form-control-file" id="uploadFile" th:field = "*{photos}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>