<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Upload photo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div th:insert="fragments/HeaderNavbar :: header-navbar"></div>
        <div class="container">
            <br/>
            <h5><span>Upload a photography.</span></h5>
            <br/>
            <div th:if = "${param.falseType}">
                <div class="alert alert-danger w-50">Image type must be jpg, jpeg or png!</div>
            </div>
            <br/>
            <form th:action = "@{/admin/photo/upload(id=${id})}" th:object="${photo}" method = "POST" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col">
                        <label for="labelPhoto" class="col-sm-2 col-form-label col-form-label-lg">Label</label>
                        <input type="text" class="form-control form-control-lg rounded-pill" id="labelPhoto" th:field = "*{label}" placeholder="Enter label" th:required="required">
                    </div>
                    <div class="col">
                        <label for="photographer" class="col-sm-2 col-form-label col-form-label-lg">Photographer</label>
                        <input type="text" class="form-control form-control-lg rounded-pill" id="photographer" th:field = "*{photographer}" placeholder="Enter photographer">
                    </div>
                    <div class="form-group">
                        <br/>
                        <label for="PhotoDate" class="col-sm-2 col-form-label col-form-label-lg">Date</label>
                        <input type="date" id="PhotoDate" class="form-control form-control-lg rounded-pill w-25" th:field = "*{date}">
                    </div>
                    <br/>
                    <div class="form-group">
                        <br/>
                        <label for="file" class="col-sm-2 col-form-label col-form-label-lg">Upload file</label>
                        <br/>
                        <input type="file" class="form-control-file" id="file" name="file" th:required="required">
                    </div>
                </div>
                <div class="col-sm">
                    <br/>
                    <button type="submit" class="btn btn-primary rounded-pill m-2 p-2 align-text-top">Submit</button>
                </div>
            </form>
        </div>
        <div th:insert="fragments/ReturnToIndex :: index-return"></div>
        </div>
    </body>
</html>